@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.messages-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Hide scrollbar for IE and Edge */
.messages-container {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;      /* Firefox */
}

.rounded-div {
  border-radius: 20px; /* Adjust this value for more or less rounding */
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}
